
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập</title>
</head>
<body>
    <div> 
        <form method="post">
            <label>Tên đăng nhập</label>
            <input name="username" />
            <br />
            <label>Mật khẩu</label>
            <input name="password" />
            <br />
            <input type="submit" value="Đăngg nhập"/>
        </form>
    </div>
</body>
</html>
