
@{
    ViewBag.Title = "danh sách hãng sản xuất";
    Layout = "~/Views/Shared/layout.cshtml";
}


    <h3 class="title">Trang danh sách hãng sản xuất</h3>
    <table>
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã </th>
                <th>Tên sản phẩm</th>
                <th>Địa chỉ</th>
                <th>Quốc gia</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                   TN_Vn    
                </td>
                <td> Thống nhất</td>
                <td>Hà Nội</td>
                <td>Việt Nam</td>
                
            </tr>
            <tr>
                <td>2</td>
                <td>
                    Hitachi 
                </td>
                <td>Hitachi</td>
                <td>Tokyo</td>
                <td>Nhật bản</td>
            </tr>
        </tbody>
    </table>
    <script src="~/Theme/js/main.js"></script>
