
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/layout.cshtml";
}

<h2>Đăng nhập tài khoản</h2>

<form
    action ="/TaiKhoan/DangNhapHeThong"method="get">
    <label>Tên đăng nhập</label>
    <input type="text" name="tenDangNhap"/>
    <label>Mật khẩu</label>
    <input type ="text" name="matKhau"/>
    @*<input type="submit" value ="Đăng nhập"/>*@
 <button type="submit"/>Đăng nhập</button>
    <p>
        @if (ViewBag.thongbao != null) {
    <p style="color: red">@ViewBag.thongbao</p>
        }
    </p>
</form>


